body{
  font-family: 'Poppins', sans-serif
}
.background-image{
  background-image: url(Images/side-round.png);
}
h1{
  font-size: 50px;
}
.span-color{
  color: orange;
}
.top-part{
  width: 45%;
  float: left;
  margin-left: 20px;
}
.top-part img{
  width: 100%;
  margin-left: 110px;
}